body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 1500;
}
.center-align {
  text-align: center;
}
.container-fluid {
  padding-left: 5%;
  padding-right: 5%;
}
.title {
  background-color: rgb(150, 189, 105);
  color: white;
  padding: 1.5%;
}
.title h1 {
  font-family: 'Ultra', serif;
  font-size: 70px;
  letter-spacing: 30px;
}
.navBar {
  background-color: rgb(66, 61, 61);
  /* padding: 5px; */
  color: white;
  font-size: 25px;
}
.navBar li {
  list-style: none;
  display: inline;
  padding-left: 4%;
  padding-right: 4%;
}